<div id='edit-<%- speech_question_id %>'class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Speech Question</h4>
      </div>
      <div class="modal-body">
        <form method="POST" name="form1-<%- speech_question_id %>" id="form1-<%- speech_question_id %>" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="_method" value="PUT"/>
          <div class="form-group">
              <label for="Description">Speech Type:</label>
              <input type="text" class="form-control" id="question_title" name='question_title' placeholder="Ex: Recognize Apple" value="<%- question_title %>">
          </div>
          <br/><br/>
          <div class="form-group">
              <label for="contentId">Content Id:</label>
              <select class="selectpicker form-control speech_id" data-live-search="true" name="speech_id" id="speech_id">
              </select>
          </div>
          <br/><br/>
          <div class="form-group">
              <label for="hint">Min Score:</label>
              <input type="text" class="form-control" id="min_score" name='min_score' placeholder="Ex: 33.33" value="<%- min_score %>">
              <input type="hidden" class="form-control" id="speech_question_id" name='speech_question_id' value="<%- speech_question_id %>">
          </div>
          <br/><br/>
        </form>
      </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-default ">Close</button>
      <button type="submit" form='form1-<%- speech_question_id %>' class="btn btn-success ">Submit</button>
    </div>
    </div>
  </div>
</div>
