<div><!--Table Start-->
  <div class="row col-md-9 custyle">
    <table class="table table-striped custab tableSearch">
      <thead>
          <tr>
              <th>Interactive Task Title</th>
              <th>Description</th>
              <th>Minimum Score</th>
              <th class="text-center">Action</th>
          </tr>
      </thead>
        <%for(var i = 0; i < databaseData.length; i++){ %>
              <tr>
                  <td><%- databaseData[i].interactive_task_title%></td>
                  <td><%- databaseData[i].description%></td>
                  <td><%- databaseData[i].min_score%></td>
                  <td class="text-center">
                    <!-- <a class='btn btn-info btn-xs' id='countryModelBtn' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>-->
                    <button class="btn btn-info btn-xs glyphicon glyphicon-edit" id='editBtn<%- databaseData[i].interactive_task_id %>' onclick="openEditModel(<%- databaseData[i].interactive_task_id %>);">Edit</button>

                    <%- include('./../adminControls/editControls/edit_interactive_task',{
                       interactive_task_id : databaseData[i].interactive_task_id,
                       interactive_task_path : databaseData[i].interactive_task_path,
                       interactive_task_title : databaseData[i].interactive_task_title,
                       description : databaseData[i].description,
                       min_score : databaseData[i].min_score
                     })%>

                    <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" id='deleteBtn<%- databaseData[i].interactive_task_id %>' onclick="openDeleteModel(<%- databaseData[i].interactive_task_id %>);">Delete</button>

                    <%- include('./../adminControls/deleteControls/delete_interactive_task',{
                       interactive_task_id : databaseData[i].interactive_task_id
                     })%>
                  </td>
              </tr>
        <% } %>
      </table>
    </div>
</div><!--Table Start-->
