<div><!--Table Start-->
  <div class="row col-md-9 custyle">
    <table class="table table-striped custab tableSearch">
      <thead>
          <tr>
              <th>Title</th>
              <th>Paragraph</th>
              <th>Description</th>
              <th class="text-center">Action</th>
          </tr>
      </thead>
        <% for(let i = 0; i < databaseData.length; i++){%>
              <tr>
                  <td class="col-md-2"><%- databaseData[i].paragraph_title %></td>
                  <td class="col-md-4"><%- databaseData[i].paragraph %></td>
                  <td class="col-md-4"><%- databaseData[i].description %></td>
                  <td class="text-center">
                    <!-- <a class='btn btn-info btn-xs' id='countryModelBtn' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>-->
                    <button class="btn btn-info btn-xs glyphicon glyphicon-edit" id='editBtn<%- databaseData[i].paragraph_id %>' onclick="openEditModel(<%- databaseData[i].paragraph_id %>);">Edit</button>

                    <%- include('./../adminControls/editControls/edit_paragraph',{
                       paragraph_id : databaseData[i].paragraph_id,
                       paragraph_title : databaseData[i].paragraph_title,
                       paragraph : databaseData[i].paragraph,
                       description : databaseData[i].description
                     })%>

                    <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" id='deleteBtn<%- databaseData[i].paragraph_id %>' onclick="openDeleteModel(<%- databaseData[i].paragraph_id %>);">Delete</button>

                    <%- include('./../adminControls/deleteControls/delete_paragraph',{
                       paragraph_id : databaseData[i].paragraph_id
                     })%>
                  </td>
              </tr>
        <% } %>
      </table>
    </div>
</div><!--Table Start-->
