<div><!--Table Start-->
  <div class="row col-md-9 custyle">
    <table class="table table-striped custab tableSearch">
      <thead>
          <tr>
              <th>Word</th>
              <th>Description</th>
              <th>Synonyms</th>
              <th class="text-center">Action</th>
          </tr>
      </thead>
        <% for(let i = 0; i < databaseData.length; i++){%>
              <tr>
                  <td class="col-md-2"><%- databaseData[i].word %></td>
                  <td class="col-md-4"><%- databaseData[i].description %></td>
                  <td class="col-md-4"><%- databaseData[i].synonyms %></td>
                  <td class="text-center">
                    <!-- <a class='btn btn-info btn-xs' id='countryModelBtn' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>-->
                    <button class="btn btn-info btn-xs glyphicon glyphicon-edit" id='editBtn<%- databaseData[i].word_id %>' onclick="openEditModel(<%- databaseData[i].word_id %>);">Edit</button>

                    <%- include('./../adminControls/editControls/edit_word',{
                       word_id : databaseData[i].word_id,
                       word : databaseData[i].word,
                       description : databaseData[i].description,
                       synonyms : databaseData[i].synonyms
                     })%>

                    <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" id='deleteBtn<%- databaseData[i].word_id %>' onclick="openDeleteModel(<%- databaseData[i].word_id %>);">Delete</button>

                    <%- include('./../adminControls/deleteControls/delete_word',{
                       word_id : databaseData[i].word_id
                     })%>
                  </td>
          <%}%>
      </table>
    </div>
</div><!--Table Start-->
