<div><!--Table Start-->
  <div class="row col-md-9 custyle">
    <table class="table table-striped custab tableSearch">
      <thead>
          <tr>
              <th>Question Title</th>
              <th>Content Id</th>
              <th>Answer</th>
              <th class="text-center">Action</th>
          </tr>
      </thead>
        <% for(var i = 0; i < databaseData.length; i++){ %>
              <tr>
                  <td><%- databaseData[i].question_title%></td>
                  <td><%- databaseData[i].content_id%></td>
                  <td><%- databaseData[i].answer%></td>
                  <td><button class="btn btn-info btn-xs glyphicon glyphicon-edit speechQuestionId" id='editBtn<%- databaseData[i].written_question_id %>' onclick="openEditModel(<%- databaseData[i].written_question_id %>);">Edit</button>

                    <%- include('./../adminControls/editControls/edit_written_question',{
                       written_question_id : databaseData[i].written_question_id,
                       question_title : databaseData[i].question_title,
                       content_id : databaseData[i].content_id,
                       answer : databaseData[i].answer
                     })%>

                <button class="btn btn-danger btn-xs glyphicon glyphicon-remove" id='deleteBtn<%- databaseData[i].written_question_id %>' onclick="openDeleteModel(<%- databaseData[i].written_question_id %>);">Delete</button>

                    <%- include('./../adminControls/deleteControls/delete_written_question',{
                      written_question_id : databaseData[i].written_question_id
                     })%>
                 </td>
              </tr>
        <% } %>
      </table>
    </div>
</div><!--Table Start-->
